<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href="/styles/index.css">
  <link rel = "stylesheet" href="/styles/favorites.css">

  <!-- <link rel = "stylesheet" href="/styles/_header.css"> -->


<body>
<%- include('partials/_header') %>

<h1 class="fav-header">My Favorites</h1>

<div class="container">
  <div class="row mt-500 ">
  <% for (item of myListings) { %>
    <div class="col-sm-4 mt-500">
      <div class="panel panel-primary">
        <div class="panel-heading listing-header"><%= item.title %></div>
        <div class="panel-body"> <a href="/each_listing/<%= item.listing_id %>"> <img src="<%= item.image_url %>" class="img-responsive" style="width:100%" alt="Image"></a>
          <form action="/unfave/<%= item.id %>" method="POST">
            <button class="glyphicon glyphicon-heart listing-button-heart"></button>
          </form>
         <a href="/each_listing/<%= item.listing_id %>"> <button class="glyphicon glyphicon-comment listing-button-message"></span></div>
          <div id="itemPrice" class="panel-footer"><%="$" + item.price%></div>
          <div class="panel-footer"><%= item.post_date%></div>
      </div>
    </div>
    <% } %>
  </div>
</div>
</body>

