<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href="/styles/index.css">
  <!-- <link rel = "stylesheet" href="/styles/_header.css"> -->


<body>
<%- include('partials/_header') %>
<div class="container">
  <div class="row mt-500">
    <% for (let info of listings) { %>
    <div class="col-sm-4 mt-500">
      <div class="panel panel-primary">
        <div class="panel-heading"><%= info.id %></div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><%= info.description%></div>
        <div class="panel-footer"><%="$" + info.price%></div>
        <div class="panel-footer"><%= info.post_date%></div>
      </div>
    </div>
<% } %>
