<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href="/styles/index.css">
  <link rel = "stylesheet" href="/styles/favorites.css">
  <link rel = "stylesheet" href="/styles/myListings.css">

  <!-- <link rel = "stylesheet" href="/styles/_header.css"> -->


<body>
<%- include('partials/_header') %>

<h1 class="myListingsHead">My Listings</h1>

<div class="container">
  <div id="theListing"class="row mt-500 ">
  <% for (item of myListings) { %>
    <div class="col-sm-4 mt-500">
      <div class="panel panel-primary">
        <div class="panel-heading listing-header"><%= item.title %></div>
        <div class="panel-body"> <a href="/each_listing/<%= item.id %>"> <img src="<%= item.url_image %>" class="img-responsive" style="width:100%" alt="Image">
          <a href="#"> <button class="glyphicon glyphicon-heart-empty listing-button-heart-empty"></span>
         <a href="/messages"> <button class="glyphicon glyphicon-comment listing-button-message"></span></div>
        <div class="panel-footer"><%="$" + item.price%></div>
        <div class="panel-footer"><%= item.post_date%></div>
      </div>
    </div>
    <% } %>
  </div>
</div>
</body>
